html {
  line-height: 1.25;
  //@include between(font-size, 18px, 12px, $mq-768, $mq-324);
}

body {
  position: relative;
  font-family: $serif;
}

html, body, .app {
  min-height: 100vh;
}

.container {
  max-width: 1024px;
  padding: 0 20px;
}

.page {
  padding-top: 20px;
}






