.result-unit {
  cursor: pointer;
  font-family: $sans-serif;
  @include between(font-size, 18px, 14px, $mq-1024, $mq-324);
  color: darken($mainColor, 10%);
  padding: 5px 10px;
  display: flex;
  align-items: baseline;
  position: relative;

  &:hover {
    background-color: rgba(12, 155, 133, 0.09);
  }

  input[type=checkbox] {
    display: none;
  }

  .fa-circle {
    font-size: 7px;
    vertical-align: middle;
    margin: 0 10px;
  }

  .checkbox-view {
    color: $mainColor;
    background-color: #fff;
    position: relative;
    margin-right: 10px;
    border: 1px solid $mainColor;
    width: 13px;
    height: 13px;
    border-radius: 2px;

    .fa {
      font-size: 15px;
      vertical-align: baseline;
      position: absolute;
      top: -2px;
      left: -1px;
    }
  }

  &.is-active {
    background: $mainColor;
    color: #fff;
    border-color: $mainColor;
    border-bottom-color: #fff;
    
    .fa {
      color: #fff;
    }

    &:hover {
      background-color: lighten($mainColor, 5%);
    }

    .checkbox-view {
      background-color: $mainColor;
    }
  }

  .dash {
    margin: 0 5px;
  }

  .NPK {
    width: 45%;
    right: 5px;
    display: grid;
    grid-template-columns: 50px repeat(3, 30px);
    grid-gap: 0 2px;
    justify-items: stretch;
    justify-content: stretch;

    span {
      display: block;
    }
  }
}